* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, red, blueviolet, black);
}

.container {
    height: 100vh;
    width: 100%;
    background-color: black;
    border: 10px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
}

.container img {
    height: 400px;
    width: 350px;
    border-radius: 30px;
}

.container .anticlockwise {
    animation: backward 5s linear 0s 1 forwards, 
               forward 10s linear 5s 1 forwards, 
               zoomeffect 5s linear 15s 2 forwards;
}

@keyframes backward {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes forward {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes zoomeffect {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1.2);
    }
    75% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}
